# Checkpoint Three: Cleaning Data

Now you are ready to clean your data. Before starting coding, provide the link to your dataset below.

My dataset:

Import the necessary libraries and create your dataframe(s).

In [2]:
import pandas as pd #reads data
import numpy as np
import seaborn as sb # visualizations
import matplotlib.pyplot as plt # visualizations

In [3]:
df = pd.read_csv("C:\\Users\\Katerina\\OneDrive\\Documents\\LCW+ Assignments\\Final Project DA\\data\\posture_vs_personality.csv")

## Missing Data

Test your dataset for missing data and handle it as needed. Make notes in the form of code comments as to your thought process.

In [10]:
df.isnull

<bound method DataFrame.isnull of     S No  AGE  HEIGHT  WEIGHT     SEX ACTIVITY LEVEL  PAIN 1  PAIN 2  PAIN 3  \
0      1   53      62     125  Female            Low     0.0     0.0     0.0
1      2   52      69     157    Male           High     7.0     8.0     5.0
2      3   30      69     200    Male           High     0.0     0.0     0.0
3      4   51      66     175    Male       Moderate     9.5     9.5     9.5
4      5   45      63     199  Female       Moderate     4.0     5.0     2.0
..   ...  ...     ...     ...     ...            ...     ...     ...     ...
92    93   16      58     100    Male       Moderate     0.0     0.0     0.0
93    94   45      62     134  Female       Moderate     0.0     4.0     0.0
94    95   43      69     188    Male       Moderate     2.0     0.0     0.0
95    96   28      67     180  Female            Low     0.0     0.0     0.0
96    97   43      69     188    Male       Moderate     4.0     0.0     0.0

    PAIN 4  MBTI   E   I   S   N   T   F   J   P POSTURE
0      0.0  ESFJ  18   3  17   9   9  13  18   4       A
1      3.0  ISTJ   6  15  14  12  21   3  13   9       B
2      0.0  ESTJ  15   6  16  10  15   9  12  10       A
3      1.5  ISTJ   6  15  21   5  13  11  19   3       D
4      2.0  ENFJ  14   7  20   6   9  15  16   6       A
..     ...   ...  ..  ..  ..  ..  ..  ..  ..  ..     ...
92     3.0  ESTP  19   2  22   4  19   5   2  20       B
93     0.0  ESFJ  11  10  17   9   6  18  13   9       B
94     0.0  ENFP  12   9   9  17   6  18   2  20       A
95     0.0  ESFJ  11  10  22  14   8  16  14   8       B
96     0.0  ENFP  12   9   9  17   6  18   2  20       A

[97 rows x 20 columns]>

In [11]:
df.isnull()

,S No,AGE,HEIGHT,WEIGHT,SEX,ACTIVITY LEVEL,PAIN 1,PAIN 2,PAIN 3,PAIN 4,MBTI,E,I,S,N,T,F,J,P,POSTURE
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
93,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
94,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
95,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
96,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
# No missing data

## Irregular Data

Detect outliers in your dataset and handle them as needed. Use code comments to make notes about your thought process.

In [12]:
for col in df.columns:
    pct_missing = np.mean(df[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

S No - 0%
AGE - 0%
HEIGHT - 0%
WEIGHT - 0%
SEX - 0%
ACTIVITY LEVEL - 0%
PAIN 1 - 0%
PAIN 2 - 0%
PAIN 3 - 0%
PAIN 4 - 0%
MBTI - 0%
E - 0%
I - 0%
S - 0%
N - 0%
T - 0%
F - 0%
J - 0%
P - 0%
POSTURE - 0%

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97 entries, 0 to 96
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   S No            97 non-null     int64
 1   AGE             97 non-null     int64
 2   HEIGHT          97 non-null     int64
 3   WEIGHT          97 non-null     int64
 4   SEX             97 non-null     object
 5   ACTIVITY LEVEL  97 non-null     object
 6   PAIN 1          97 non-null     float64
 7   PAIN 2          97 non-null     float64
 8   PAIN 3          97 non-null     float64
 9   PAIN 4          97 non-null     float64
 10  MBTI            97 non-null     object
 11  E               97 non-null     int64
 12  I               97 non-null     int64
 13  S               97 non-null     int64
 14  N               97 non-null     int64
 15  T               97 non-null     int64
 16  F               97 non-null     int64
 17  J               97 non-null     int64
 18  P               97 non-null     int64
 19  POSTURE         97 non-null     object
dtypes: float64(4), int64(12), object(4)
memory usage: 15.3+ KB

## Unnecessary Data

Look for the different types of unnecessary data in your dataset and address it as needed. Make sure to use code comments to illustrate your thought process.

In [14]:
df.describe()

,S No,AGE,HEIGHT,WEIGHT,PAIN 1,PAIN 2,PAIN 3,PAIN 4,E,I,S,N,T,F,J,P
count,97.000000,97.000000,97.000000,97.00000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000
mean,49.000000,43.855670,65.731959,159.43299,2.139175,3.747423,1.943299,2.530928,12.690722,8.288660,15.134021,11.041237,10.505155,13.443299,10.319588,11.680412
std,28.145456,16.776093,3.737522,36.19591,2.572635,3.191071,2.587909,3.111483,5.717956,5.697146,4.833970,4.732242,5.332924,5.297344,5.727395,5.711003
min,1.000000,11.000000,58.000000,68.00000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,5.000000,1.000000,0.000000,2.000000,0.000000,2.000000
25%,25.000000,30.000000,63.000000,135.00000,0.000000,0.000000,0.000000,0.000000,8.000000,3.000000,12.000000,7.000000,6.000000,10.000000,5.000000,6.000000
50%,49.000000,45.000000,66.000000,157.00000,1.000000,3.000000,0.500000,0.000000,13.000000,8.000000,15.000000,11.000000,11.000000,13.000000,11.000000,11.000000
75%,73.000000,56.000000,68.000000,183.00000,4.000000,7.000000,3.500000,5.000000,18.000000,13.000000,19.000000,14.000000,14.000000,18.000000,16.000000,17.000000
max,97.000000,82.000000,74.000000,263.00000,9.500000,10.000000,10.000000,10.000000,21.000000,19.000000,25.000000,21.000000,22.000000,24.000000,20.000000,22.000000

In [15]:
df.columns

Index(['S No', 'AGE', 'HEIGHT', 'WEIGHT', 'SEX', 'ACTIVITY LEVEL', 'PAIN 1',
       'PAIN 2', 'PAIN 3', 'PAIN 4', 'MBTI', 'E', 'I', 'S', 'N', 'T', 'F', 'J',
       'P', 'POSTURE'],
      dtype='object')

In [17]:
df.drop(['HEIGHT', 'WEIGHT', 'ACTIVITY LEVEL', 'PAIN 1',
                    'PAIN 2', 'PAIN 3', 'PAIN 4',
                    'S', 'N', 'T', 'F', 'J', 'P'], axis=1, inplace=True)
df

    S No  AGE     SEX  MBTI   E   I POSTURE
0      1   53  Female  ESFJ  18   3       A
1      2   52    Male  ISTJ   6  15       B
2      3   30    Male  ESTJ  15   6       A
3      4   51    Male  ISTJ   6  15       D
4      5   45  Female  ENFJ  14   7       A
..   ...  ...     ...   ...  ..  ..     ...
92    93   16    Male  ESTP  19   2       B
93    94   45  Female  ESFJ  11  10       B
94    95   43    Male  ENFP  12   9       A
95    96   28  Female  ESFJ  11  10       B
96    97   43    Male  ENFP  12   9       A

[97 rows x 7 columns]

In [ ]:
# because I am only comparing posture to extrovert and introverts, i didnt 
#really need the other columns
#keeping the remaining columns for more context on the individuals

## Inconsistent Data

Check for inconsistent data and address any that arises. As always, use code comments to illustrate your thought process.

In [18]:
df.head(50)

    S No  AGE     SEX  MBTI   E   I POSTURE
0      1   53  Female  ESFJ  18   3       A
1      2   52    Male  ISTJ   6  15       B
2      3   30    Male  ESTJ  15   6       A
3      4   51    Male  ISTJ   6  15       D
4      5   45  Female  ENFJ  14   7       A
5      6   68    Male  ISFP   4  17       D
6      7   62    Male  ISTP   7  14       B
7      8   65  Female  ESTJ  17   4       D
8      9   66    Male  ESFJ  19   2       C
9     10   58    Male  INFJ   5  16       D
10    11   61    Male  ENTP  11  10       B
11    12   33  Female  ISFJ   2  19       B
12    13   48  Female  ESFJ  13   8       D
13    14   57    Male  ENTJ  16   5       B
14    15   30    Male  ESTP  20   1       A
15    16   62    Male  ISTJ   2  19       D
16    17   59  Female  ESTJ  12   9       A
17    18   33    Male  ENFP  17   4       B
18    19   23  Female  ESFP  13   8       B
19    20   48  Female  ISFP   9  13       C
20    21   63  Female  INFP   2  19       D
21    22   64    Male  ESTP  13   8       B
22    23   71  Female  ESTP  13   8       B
23    24   71  Female  ESFJ  12   9       D
24    25   50  Female  INFJ   2  19       C
25    26   41  Female  ISFJ   3  18       C
26    27   36    Male  ESTP  16   5       A
27    28   40  Female  ISTP   7  14       D
28    29   26    Male  ENTJ  15   6       D
29    30   43    Male  ENFP  21   0       A
30    31   46    Male  ESFP  18   3       A
31    32   47    Male  ESTJ  12   9       D
32    33   20    Male  ESTP  15   6       B
33    34   34    Male  ENTJ  21   0       C
34    35   54  Female  ISFP   4  17       D
35    36   66  Female  ISTJ   4  17       C
36    37   42    Male  ENFJ  17   4       C
37    38   52    Male  ENFP  17   4       A
38    39   61    Male  ESTP  18   3       B
39    40   49    Male  ENFJ  13   8       B
40    41   17    Male  INFP   9  12       C
41    42   57    Male  ISFP   6  14       D
42    43   82    Male  ESFP  21   0       A
43    44   48  Female  ENFP  21   0       A
44    45   80  Female  ENFP  19   2       A
45    46   66    Male  ISTJ  10  11       D
46    47   63  Female  ISFP   9  12       D
47    48   13  Female  ENFJ  21   0       B
48    49   20    Male  ESTP  16   5       B
49    50   18  Female  INFJ   7  12       B

## Summarize Your Results

Make note of your answers to the following questions.

1. Did you find all four types of dirty data in your dataset?
Honestly - No. I just needed to remove some unnecessary data. 
2. Did the process of cleaning your data give you new insights into your dataset?
I feel like I had a good handle of my data since the checkpoint 2. 
3. Is there anything you would like to make note of when it comes to manipulating the data and making visualizations? 
Not at the moment